<!doctype HTML />
<html>
<body>
  <form method="post">
    <label for="title">Title</label>
    <input name="title" type="text"></input>

    <label for="body">body</label>
    <textarea name="body"></textarea>

    <input type="submit" value="Submit"></submit>
  </form>
</body>
</html>
